<p>
	<strong>Street Address:</strong>
	<%= @house.street_address %>
</p>

<p>
	<strong>City:</strong>
	<%= @house.city %>
</p>

<p>
	<strong>State:</strong>
	<%= @house.state %>
</p>

<p>
	<strong>Price:</strong>
	<%= @house.price %>
</p>







